*{
    box-sizing: border-box;
}
body{
    border: 1px solid black;
    margin: 20px auto;
    width: 70%;
}
/* Girdilerin stilleri */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color:#04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #45a049;
}
/* container stilleri */
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
/* kolonlar */
.column{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
