body{
    border: 1px solid black;
    margin: 20px auto;
    width: 70%;
}
h1{
    text-align: center;
}
/* Navbar Baslangic */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    padding:12px 16px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
}
li a:hover{
    background-color: #23834c;
}
/* Navbar bitis */
.content{
    margin: 10px 10px 10px 10px;
    
}
/* Gallery Baslangic */
.gallery{
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}
.gallery:hover{
    border: 1px solid #777;
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    height: auto;
}
/* Gallery Bitis */
/* footer */
footer{
    padding: 20px;
    text-align: center;
}